body
{
    background-position: center;
    background-size: cover;
}

.heading
{
    width: 100%;
    font-size: larger;
    margin-top: 0px;
    font-size: 30px;
}

.heading:hover
{
    font-size: 50px;
}

.link
{
    background-color: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    float: right;
}

canvas
{
    border-radius: 10px;
    box-shadow: 7px 7px 7px white;
}

#status
{
    font-size: 20px;
}